In [1]:
import numpy as np 
import pandas as pd

In [2]:
df2 =  pd.read_csv('/content/amazon_prime_titles.csv')

In [3]:
df2.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
df1.head()

NameError: ignored

In [ ]:
main = df1.drop(['IMDb Rating' , 'Running Time' , 'Year of Release' , 'Maturity Rating'] , axis = 1).merge(df2[['title' , 'director', 'cast' , 'listed_in' , 'description']], left_on = 'Movie Name', right_on = 'title' , how = 'left')

In [ ]:
main

In [ ]:
main = df1.drop(['IMDb Rating' , 'Running Time' , 'Year of Release' , 'Maturity Rating'] , axis = 1).merge(df2[['title' , 'director', 'cast' , 'listed_in' , 'description']], left_on = 'Movie Name', right_on = 'title' , how = 'left')

In [ ]:
df2.info()

In [ ]:
df2[df2['type'] == 'Movie']

In [6]:
df2.drop(['show_id' , 'type' , 'date_added' , 'release_year' , 'rating' , 'duration'] , inplace = True , axis = 1)

KeyError: ignored

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9668 non-null   object
 1   director     7586 non-null   object
 2   cast         8435 non-null   object
 3   country      672 non-null    object
 4   listed_in    9668 non-null   object
 5   description  9668 non-null   object
dtypes: object(6)
memory usage: 453.3+ KB

In [8]:
df2

,title,director,cast,country,listed_in,description
0,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"Comedy, Drama",A small fishing village must procure a local d...
1,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,Documentary,"Pink breaks the mold once again, bringing her ..."
4,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...
9663,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,Comedy,New York City street principles get an East Si...
9664,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [9]:
df2.drop(['country'] , inplace = True , axis = 1)

In [10]:
df2.head()

,title,director,cast,listed_in,description
0,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent","Comedy, Drama",A small fishing village must procure a local d...
1,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar","Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...","Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",Documentary,"Pink breaks the mold once again, bringing her ..."
4,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...","Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9668 non-null   object
 1   director     7586 non-null   object
 2   cast         8435 non-null   object
 3   listed_in    9668 non-null   object
 4   description  9668 non-null   object
dtypes: object(5)
memory usage: 377.8+ KB

In [12]:
df2.fillna(value = "is" , inplace  = True)

In [13]:
df2['listed_in'].iloc[2]

'Action, Drama, Suspense'

In [14]:
def convert(s):
  s = list(s)
  name , l , flag = "" , [] , 0
  for i in s:
    if len(l) != 3:
      if i == ",":
        flag = -1
        l.append(name)
        name = ""
      else:  
        name += i  
    else:
      break
  if flag == 0:
    l.append(name)

  return l

In [15]:
df2['cast'] = df2['cast'].apply(convert)

In [16]:
def convert_genre(s):
  s = list(s.split(", "))
  return s

In [17]:
df2['listed_in'] = df2['listed_in'].apply(convert_genre)

In [18]:
def convert_desc(s):
  s = list(s.split(" "))

  return s

In [19]:
df2['description'] = df2['description'].apply(convert_desc)

In [20]:
def convert_dir(s):
  l = []
  l.append(s)
  return l

In [21]:
df2['director'] = df2['director'].apply(convert_dir)

In [22]:
df2

,title,director,cast,listed_in,description
0,The Grand Seduction,[Don McKellar],"[Brendan Gleeson, Taylor Kitsch]","[Comedy, Drama]","[A, small, fishing, village, must, procure, a,..."
1,Take Care Good Night,[Girish Joshi],"[Mahesh Manjrekar, Abhay Mahajan]","[Drama, International]","[A, Metro, Family, decides, to, fight, a, Cybe..."
2,Secrets of Deception,[Josh Webber],"[Tom Sizemore, Lorenzo Lamas, Robert LaSardo]","[Action, Drama, Suspense]","[After, a, man, discovers, his, wife, is, chea..."
3,Pink: Staying True,[Sonia Anderson],"[Interviews with: Pink, Adele, Beyoncé]",[Documentary],"[Pink, breaks, the, mold, once, again,, bringi..."
4,Monster Maker,[Giles Foster],"[Harry Dean Stanton, Kieran O'Brien, George ...","[Drama, Fantasy]","[Teenage, Matt, Banting, wants, to, work, with..."
...,...,...,...,...,...
9663,Pride Of The Bowery,[Joseph H. Lewis],[Leo Gorcey],[Comedy],"[New, York, City, street, principles, get, an,..."
9664,Planet Patrol,[is],"[DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS]",[TV Shows],"[This, is, Earth,, 2100AD, -, and, these, are,..."
9665,Outpost,[Steve Barker],"[Ray Stevenson, Julian Wadham, Richard Brake]",[Action],"[In, war-torn, Eastern, Europe,, a, world-wear..."
9666,Maradona: Blessed Dream,[is],"[Esteban Recagno, Ezequiel Stremiz, Luciano ...","[Drama, Sports]","[The, series, tells, the, story, of, Diego, Ma..."
9667,Harry Brown,[Daniel Barber],"[Michael Caine, Emily Mortimer, Joseph Gilgun]","[Action, Drama, Suspense]","[Harry, Brown,, starring, two-time, Academy, A..."

In [23]:
df2['director'] = df2['director'].apply(lambda x:[i.replace(" ","") for i in x])
df2['cast'] = df2['cast'].apply(lambda x:[i.replace(" ","") for i in x])
df2['listed_in'] = df2['listed_in'].apply(lambda x:[i.replace(" ","") for i in x])

In [24]:
df2['tags'] = df2['director'] + df2['cast'] + df2['listed_in'] + df2['description']

In [25]:
main = df2[['title' , 'tags']]

In [26]:
main['tags'] = main['tags'].apply(lambda x: " ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
main['tags'] = main['tags'].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
main

,title,tags
0,The Grand Seduction,donmckellar brendangleeson taylorkitsch comedy...
1,Take Care Good Night,girishjoshi maheshmanjrekar abhaymahajan drama...
2,Secrets of Deception,joshwebber tomsizemore lorenzolamas robertlasa...
3,Pink: Staying True,soniaanderson interviewswith:pink adele beyonc...
4,Monster Maker,gilesfoster harrydeanstanton kierano'brien geo...
...,...,...
9663,Pride Of The Bowery,josephh.lewis leogorcey comedy new york city s...
9664,Planet Patrol,is dickvosburgh ronniestevens libbymorris tvsh...
9665,Outpost,stevebarker raystevenson julianwadham richardb...
9666,Maradona: Blessed Dream,is estebanrecagno ezequielstremiz lucianovitto...
9667,Harry Brown,danielbarber michaelcaine emilymortimer joseph...

In [29]:
main.sample(20)

,title,tags
1329,Pinkfong! Baby Shark & Christmas Songs,is is animation kids baby shark & christmas so...
1686,Melinda Hill: Inappropriate,melindahill melindahill arts entertainment and...
3247,Animal Babies: First Year on Earth,is arinaii tvshows the first year of life is t...
9490,Nick Baker's Weird Creatures,is nickbaker documentary nick baker searches f...
5252,Rab Ne Bana Di Jodi,adityachopra shahrukhkhan anushkasharma ranimu...
8303,Kin Dread,adrianleon ethansmart corinnaharneyjones patri...
7077,Japanese Story,suebrooks tonicollette otarotsunashima matthew...
6582,Erica Rhodes: La Vie en Rhodes,brianvolk-weiss ericarhodes arts entertainment...
6659,Anari,k.muralimohanarao venkateshdaggubati karismaka...
4445,Five Little Babies Children's Songs in Indones...,uspstudios kidstv animation kids musicvideosan...
6235,Give 'Em Hell Malone,russellmulcahy thomasjane vingrhames elsapatak...
6356,Her Name Was Jo,joeduca marycatewilliams maryelisaduca jimcons...
1352,PEEP and the Big Wide World,"is is kids set in and around a pond, a bush, a..."
2119,In My Dreams,thomasbuschbeck jakegosden comedy 'in my dream...
1391,Pajanimals,is victoryerrid sarahlyle michaelwinsor kids p...
7171,Harmony McElligott: The Struggle Continues,harmonymcelligott harmonymcelligott arts enter...
9454,EurOpen People,albertogatto marvanza albertogatto giuseppecre...
9267,A Good Year,ridleyscott russellcrowe albertfinney marionco...
2701,Dead Combo,is is musicvideosandconcerts imagine the strok...
2942,Bulldog Drummond,f.richardjones ronaldcolman claudallister dram...

In [30]:
main['tags']  = main['tags'].apply(lambda x:x.replace(",",""))
main['tags'] = main['tags'].apply(lambda x:x.replace(".",""))
main['tags'] = main['tags'].apply(lambda x:x.replace("'",""))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
import nltk

In [32]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [33]:
def stemi(tags):
  y = []

  for i in list(tags.split(" ")):
    y.append(ps.stem(i))

  return " ".join(y)

In [34]:
main['tags'] = main['tags'].apply(stemi)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
s[0]

NameError: ignored

In [36]:
## text vectorization

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
mk = CountVectorizer(max_features=10000,stop_words='english')

In [39]:
vector = mk.fit_transform(main['tags']).toarray()

In [40]:
stemi('billi')

'billi'

In [41]:
## cosine similarity

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
simi = cosine_similarity(vector)

In [45]:
def recommend(movie):

  index = main[main['title'] == movie].index[0]
  similarity_vec = simi[index]
  m = sorted(list(enumerate(similarity_vec)) , reverse = True , key = lambda x:x[1])[1 : 6]
  for i in m:
    print(main['title'].iloc[i[0]])

In [46]:
recommend('Nene Raju Nene Mantri')

Little Kingdom
Devarakondalo Vijay Prema Katha
Majili
Worth
As Long as We Both Shall Live

In [44]:
import pickle

In [49]:
ds = main.to_dict()

In [50]:
pickle.dump(ds,open('movieslist.pkl' , 'wb'))

In [52]:
pickle.dump(simi,open('similarity_vector.pkl' , 'wb'))